*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    background-color: teal;
}
header h4{
    text-align: center;
    padding: 12px;
    color: white;
}
.bish-bosh{
    margin: 25px;
    text-align: center;
}
.bish-bosh h1, h3{
    margin: 25px 0;
    
}
.btn{
    padding: 16px 50px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: greenyellow;
    color: black;
}
.result{
    padding: 20px;
}
footer{
    background-color: lightgreen;
    height: 35px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    
}
footer p{
    text-align: center;
    padding: 8px;
    font-style: italic;
    color: gray;
    
}